.home .full-screen {
  padding: 50px 0 0;
  min-height: 86vh;
}

.home .texto-home {
  letter-spacing: 2px;
}

.home .texto-home,
.home .img-home {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 15px;
}

@media (max-width: 1280px) {
  .home .texto-home,
  .home .img-home {
    flex: 0 0 1000%;
    max-width: 100%;
    text-align: center;
    padding: 0 var(--mobile-padding);
  }
  .home .img-home {
    margin-top: 50px;
  }
}

.home .texto-home p {
  font-family: var(--fonte-secundaria);
  font-size: var(--fonte-grande);
  margin-bottom: 10px;
}

.home .texto-home h1 {
  font-family: var(--fonte-secundaria);
  font-size: var(--fonte-gigante);
  font-weight: 700;
  margin-bottom: 20px;
}

@media (max-width: 576px) {
  .home .texto-home h1 {
    font-size: var(--fonte-extra-grande);
  }
}

.home .texto-home h1,
.home .texto-home h2 {
  text-align: center;
}

.home .texto-home .redes-sociais {
  text-align: right;
}

@media (max-width: 576px) {
  .home .texto-home .redes-sociais {
    text-align: center;
  }
}

.home .texto-home h2 {
  font-family: var(--fonte-secundaria);
  font-size: var(--fonte-grande);
  letter-spacing: 2px;
  margin-bottom: 30px;
}

.home .slider {
  height: 700px;
  overflow: hidden;
}

.home .slider .slides {
  width: 400%;
  height: 400px;
  display: flex;
}

.home .slider .slides #radio1:checked ~ .primeira {
  margin-left: 0;
}

.home .slider .slides #radio2:checked ~ .primeira {
  margin-left: -25%;
}

.home .slider .slides #radio3:checked ~ .primeira {
  margin-left: -50%;
}

.home .slider .slides #radio4:checked ~ .primeira {
  margin-left: -75%;
}

.home .slider .slides input {
  display: none;
}

.home .slider .slides .slide {
  width: 25%;
  position: relative;
}

.home .slider .manual-navegacao {
  position: absolute;
  width: 80%;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.home .slider .manual-navegacao .manual-btn {
  border: 2px solid #000;
  padding: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s;
}

.home .slider .manual-navegacao .manual-btn:not(:last-child) {
  margin-right: 40px;
}

.home .slider .manual-navegacao .manual-btn:hover {
  background-color: #000;
}

.home .slider .slides .navegacao-auto {
  position: absolute;
  width: 80%;
  margin-top: 360px;
  display: flex;
  justify-content: center;
}

.home .slider .slides .navegacao-auto div {
  border: 2px solid var(--cor-primaria);
  padding: 5px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.home .slider .slides .navegacao-auto div:not(:last-child) {
  margin-right: 40px;
}

.home .slider .slides #radio1:checked ~ .navegacao-auto .auto-btn1,
.home .slider .slides #radio2:checked ~ .navegacao-auto .auto-btn2,
.home .slider .slides #radio3:checked ~ .navegacao-auto .auto-btn3,
.home .slider .slides #radio4:checked ~ .navegacao-auto .auto-btn4 {
  background-color: var(--cor-primaria);
}
