.sobre-mim .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  margin: 0 auto;
  grid-gap: 40px;
}

.sobre-mim .img-sobre-mim .img-box {
  max-width: 450px;
  margin: auto;
  border-radius: 50%;
  margin-bottom: 50px;
}

.sobre-mim .img-sobre-mim .img-box img {
  width: 100%;
  border-radius: 50%;
  border: 10px solid transparent;
}

.sobre-mim .img-home {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 15px;
}

.sobre-mim .informacoes-sobre-mim {
  max-width: 90%;
  margin: auto;
  padding: 0 25px;
}

.sobre-mim .informacoes-sobre-mim .botoes {
  margin-top: 50px;
}

.sobre-mim .informacoes-sobre-mim p:nth-child(1) {
  letter-spacing: 0.1rem;
  text-align: center;
}

.sobre-mim .informacoes-sobre-mim p {
  text-align: justify;
  font-size: 1.8rem;
  font-weight: 300;
  hyphens: auto;
  margin-bottom: 20px;
}

@media (max-width: 1280px) {
  .sobre-mim .row {
    justify-content: center;
  }

  .sobre-mim .imagem-sobre-mim {
    max-width: 100%;
    padding: 0 var(--mobile-padding);
  }

  .sobre-mim .informacoes-sobre-mim {
    padding: 0 var(--mobile-padding);
    text-align: justify;
  }

  .sobre-mim .imagem-sobre-mim .inner-shadow {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}

@media (max-width: 768px) {
  .sobre-mim .informacoes-sobre-mim {
    max-width: 100%;
  }
}

.sobre-mim .hobbies {
  gap: 10px;
  justify-content: center;
  margin-bottom: 25px;
  font-size: var(--fonte-grande);
}

.sobre-mim .hobbies .turquesa {
  padding: 15px;
  background-color: #0097b2;
}
.sobre-mim .hobbies .azul-claro {
  padding: 15px;
  background-color: #7ec2c4;
  color: #000;
}
.sobre-mim .hobbies .verde-agua {
  padding: 15px;
  background-color: #43bd8e;
  color: #dfa70c;
}
.sobre-mim .hobbies .laranja {
  padding: 15px;
  background-color: #ffa500;
  color: #000;
}
.sobre-mim .hobbies .magenta {
  padding: 15px;
  background-color: #cb6cc6;
  color: #000;
}
