html {
  font-size: 62.5%;

  color: var(--color-default, #000);

  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;

  margin: 0 auto;
  max-width: 120rem;

  background: linear-gradient(
    0deg,
    rgba(99, 205, 234, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background-size: 120% 120%;
}

.cabecalho {

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1.8rem 0.9rem;
}

.cabecalho .logo {
  width: 4.6rem;
  height: 4.6rem;

  border-radius: 50%;
  border: 2px solid;

  color: var(--color-default, #000);
  text-decoration: underline;
  text-align: center;
  line-height: 4rem;
  font-family: "Raleway", sans-serif;

  transition: 0.2s;
}

.cabecalho a:hover .logo {
  color: #895bfd;

  border: 2px solid;
}

.cabecalho .menu li a {
  color: var(--color-default, #000);
  font-size: var(--font-size-default, 1.6rem);
  text-transform: capitalize;
  font-weight: bold;

  padding: 0.6rem 1rem;

  transition: 0.3s ease-in-out;
}

.cabecalho .menu li a:hover {
  background-color: #946cf7;

  font-weight: 300;
  color: #fff;

  border-radius: 3.1rem;
}

.home {
  display: flex;
  align-items: center;
  gap: 3.1rem;
  justify-content: space-around;

  min-height: calc(100vh - 125px);
}

.home .informacoes {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;

  font-size: var(--font-size-default, 1.6rem);
  letter-spacing: 0.1rem;

  padding: 0 0.9rem;

  max-width: 50%;
}

.home .informacoes h1 {
  font-family: "Raleway", sans-serif;
  font-size: 3.5rem;

  margin-bottom: var(--margin-default, 1.2rem);
}

.home .informacoes p {
  align-items: center;

  font-family: "Raleway", sans-serif;
  font-size: var(--font-size-default, 1.6rem);

  margin-bottom: 3rem;
}

.home .rede-sociais {
  display: flex;
  gap: 5rem;
}

.home .rede-sociais a i {
  width: 3.1rem;
  height: 3.1rem;

  border: 1px solid;
  border-radius: 50%;

  color: var(--color-default, #000);
  font-size: var(--font-size-default, 1.6rem);

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.5rem;

  transition: 0.3s;
}

.home .rede-sociais a i:hover {
  background-color: #895bfd;
  color: #fff;

  transform: scale(1.1);
}

.home .container-foto img {
  max-width: 40rem;
  border-radius: 50%;
}

.home .foto.sombra-interna {
  background-size: 180% 180%;

  animation: gradient-animation 5s ease infinite;
}

.projetos {
  padding: 4rem 0 4rem;
}

.projetos .titulo {
  text-align: center;
  text-transform: uppercase;

  font-size: 3rem;
  font-weight: 500;

  padding: 3.7rem 0;
}

.projetos .container-projetos {
  display: flex;
  flex-wrap: wrap;
  gap: var(--font-size-default, 1.2rem);
  justify-content: center;

  margin-bottom: 3rem;
}

.projetos .projeto {
  max-width: 16.2rem;
  max-height: 31.2rem;

  position: relative;

  display: none;
}

.projetos .projeto.ativo {
  display: block;
}

.projetos .projeto img {
  height: 100%;
}

.projetos .projeto h3 {
  background-color: #000000;
  opacity: 0.7;
  width: 100%;
  padding: 0.6rem 0 0.6rem 1.2rem;

  position: absolute;

  bottom: 0;
}

.projetos .projeto .informacoes-projeto {
  width: 100%;
  height: 100%;

  background-color: #040203;
  position: absolute;
  top: 0;

  opacity: 0;
  transition: 0.3s;
  padding: var(--font-size-default, 1.2rem);
}

.projetos .container-projetos .projeto:hover .informacoes-projeto {
  opacity: 0.8;

  background-color: #000000;
}

.projetos .btn-mostrar-projetos {
  width: 180px;

  display: flex;
  justify-content: center;

  background: none;

  font-size: 18px;
  font-weight: 600;
  color: #000;

  border: 1px solid;
  border-radius: 15px;

  padding: 20px;
  margin: 0 auto;

  cursor: pointer;
}

.projetos .btn-mostrar-projetos:hover {
  background-color: #946cf7;

  color: #fff;
  transition: 0.3s;
}

.projetos .btn-mostrar-projetos.remover {
  display: none;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
