@media (max-width: 144rem) {
  .cabecalho {
    padding: 1.8rem;
  }

  .home {
    align-items: center;
    margin: 3.1rem 0;
    gap: 1.8rem;
  }

  .home .informacoes {
    max-width: 100%;
    text-align: center;
    align-items: center;
  }

  .projetos .container-projeto {
    padding: 0 1.8rem;
  }
}

@media (max-width: 76.8rem) {
  .home{
    flex-direction: column-reverse;
  }

  .home .informacoes {
    font-size: 1.6rem;
    max-width: 0;
  }

  .home .rede-sociais {
    gap: 2rem;
  }

  .home .informacoes p {
    font-size: 1rem;
  }

  .home .container-foto img {
    width: 20rem;
  }

  .home .container-foto .foto

  .projetos {
    padding: 1.8rem;
  }
}
